.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input {
  border: none;
  border-radius: 0.5rem;
  min-width: 200px;
  min-height: 30px;
}

button {
  cursor: pointer;
  height: 32px;
  margin: 0.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  text-align: center;
}

.App > div {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App > div > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  margin: 0.5rem auto;
}
